<div *ngIf="routine" class="routine">
<h2>{{routine.name}} ({{routine.status}})</h2>

<div>
  <span>Étoiles : {{totalStars}}</span>
  <span *ngIf="medal"> | Médaille !!</span>
</div>

Heure de départ ({{departureTime | date:'HH:mm'}}) : 
<input [(ngModel)]="departureTimeHoursMinutes" 
name="departureTimeHoursMinutes" 
required 
minlength="5"
maxlength="5"
pattern="[0-9]{2}:[0-9]{2}"
placeholder="Heure" 
(change)="onChangeDepartureTimeHoursMinutes()"
#validDepartureTimeHoursMinutes="ngModel"
>
<div *ngIf="validDepartureTimeHoursMinutes.invalid && (validDepartureTimeHoursMinutes.dirty || validDepartureTimeHoursMinutes.touched)"
    class="alert alert-danger">

  <div *ngIf="validDepartureTimeHoursMinutes.errors.required">
    Name is required.
  </div>
  <div *ngIf="validDepartureTimeHoursMinutes.errors.minlength">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="validDepartureTimeHoursMinutes.errors.pattern">
    Veuillez entrer l'heure sous le format suivant : HH:MM.
  </div>
</div>

Temps total : {{totalTime}}
Temps libre : {{freeTimeMinutes}}:{{freeTimeSeconds}}

<button (click)="onClickSart()">GO</button>

<ul class="routines">
  <li *ngFor="let step of routine.steps" class="step step_{{step.status}}">
    <span>Step = {{step.name}} {{step.status}} Temps : {{step.time}} Étoiles : {{step.stars}}</span>
    <span *ngIf="routine.status != 'initial' && step.status == 'initial'"><button (click)="onClickStepStart(step)">START</button></span>
    <span *ngIf="step.status == 'inProgress'">
      <button (click)="onClickStepStop(step)">STOP</button>
      <button (click)="onClickStepCancel(step)">CANCEL</button>
      <span *ngIf="stepRemamingTimeMinutes" class="step_{{timerLook}}">
        {{stepRemamingTimeMinutes}}:{{stepRemamingTimeSeconds}}
      </span>
    </span>
  </li>
</ul>
</div>